
 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-5">
                <a class="navbar-brand" href="#">O X O Toe-nament</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav">
                                    <li class="nav-item strike">
                                        <a class="nav-link " href="/">Home</a>
                                    </li>
                                                
                                </nav>  
<div class="row mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="container mt-1 bg-light" id="create-account-container">
            <form action="#">
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <label for="entry-displayname" class="col-sm-2 col-form-label text-md-right mt-md-5">Display
                        Name</label>
                    <div class="col-sm-6 ">
                        <input type="text" class="form-control mt-md-5" id="entry-displayname" placeholder="Display Name">
                    </div>
                    <div class="col-sm-2 "></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <label for="entry-email" class="col-sm-2 col-form-label text-md-right">Email</label>
                    <div class="col-sm-6 ">
                        <input type="email" class="form-control " id="entry-email" placeholder="Email">
                    </div>
                    <div class="col-sm-2 "></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2 "></div>
                    <label for="entry-password" class="col-sm-2 col-form-label  text-md-right ">Password</label>
                    <div class="col-sm-6 ">
                        <input type="password" class="form-control mb-md-3" id="entry-password" placeholder="Password">
                    </div>
                    <div class="col-sm-2 "></div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 "></div>
                    <div class="col-sm-6 ">
                        <button type="submit" class="btn btn-secondary btn-lg px-5 mb-3" id="entry-submit">Register</button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
</body>
</html>>
