<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Create a Tournament!</h5>
            <input type='text' id='tournament_name' placholder='Name your Tournament'>
            <button id="submit">Make New Tournament</button>
            <a href="/">â† Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>