<!DOCTYPE html>
<html>
	<head>
		<title>O X O</title>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

	
	</head>
	<body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark  mt-5">
					<a class="navbar-brand" href="#">O X O Toe-nament</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
					  aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarText">
								<ul class="navbar-nav">
										<li class="nav-item strike">
											<a class="nav-link " href="/">Home</a>
										</li>
													
									</nav>
						
			<div class="container loginForm mt-5">
					<div class="row ">
							<div class="col-md-6 ">
									<div class="row  mb-5">
											<div class="col-md-12">

							<h6 class="text-muted">please login or create an account to Host or join the tournament</h6>
											</div>
										</div >
							<div class="rowr">

						<div class="col-md-12 text-muted">
							<form>
								<div class="form-group text-muted">
									<label for="exampleInputEmail1 ">Username or Email address</label>
									<input type="email" class="form-control" id="loginName" aria-describedby="emailHelp" placeholder="Enter email">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Password</label>
									<input type="password" class="form-control" id="loginPassword" placeholder="Password">
								</div> 
							 <div>
								<button type="submit" class="btn btn-primary mr-5 mb-2">Log-In</button>
								<button type="submit" class="btn btn-primary mb-2" id ="register">Register</button>
							</div>
							</form>
					</div></div></div>
					<div class="col-md-6"> <h4 class="navbar-text">
							Become the Champion!
					</h4></div>
					</div>
						</div>
					
						<div class="container mt-5">
            <!-- creat/join page -->
			<div id="menu"   style="display: none;">
				<h1>Tic - Tac - Toe</h1>
				<h2 id="userHello"></h2>				
				<button id="new">Create Game</button>
				<br><br>
				<ul id="test"></ul>
				<select class="chosen-select" id="listOfTornaments" required>
					<option value=""></option>					
				  </select>

				<!-- <input type="text" name="room" id="room" placeholder="Enter Game ID" required> -->
				<button id="join">Join Game</button>
			</div>
			<!-- each tornament has its own page  -->
		   <div id="eachTornamentPage"  style="display: none;">
			<h6 id="user"></h6>
				<h4>Wel come To</h4>
				<h4>O X O</h4>
				<h4> Tournament</h4>
				<h4 id="tornamentName" class="bg-primary my-5 text-white"></h4>
			<div class="row">
            <div id="playersDiv" class="col-md-6 bg-info">
					<ol id="playersList"></ol> 
			</div>
			
			<div id="userDiv"> 
				</div>
					<!-- <ol id="playersList"></ol> -->
			
			<div id="braket" class="col-md-6">
				<h6 id="bracketOne" class="bg-info mt-5 text-white"></h6><br>
				<h6 id="bracketTwo" class="bg-info text-white"></h6>
			</div>
		</div>
			<button id="makeBracket" >Bracket</button>
			<button id="startTournament" >Start The Tournament</button>
		</div>	
          <!-- game board page -->
		
		</div>
		<!-- <script src="node_modules/jquery/dist/jquery.min.js"></script> -->
		<script src="/socket.io/socket.io.js"></script>
		<!-- <script src="main.js"></script> -->
		<script src = "/js/game.js"></script>
		<script src = "/js/controller.js"></script>

	</body>
</html>