.list-group-item {
  line-height: 2.5;
}

.strike {
  position: relative;
  display: block;
  cursor: pointer;
}

.strike:before, .strike:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.strike:before {
  left: -2.5px;
}
.strike:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:active:before {
  background: #fff;
  width: 100%;
  transition: width 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike:active:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

